<a href="https://colab.research.google.com/github/yahyalito/IP_week4/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Ibrahim_Yahya_IP__ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
url = 'http://bit.ly/Autolibdataset'

In [0]:
df= pd.read_csv(url)

In [5]:
df.head(5)

   Unnamed: 0                     Address  Cars  ...  day  hour  minute
0           0              24 Rue Vulpian     3  ...    1     0       0
1           1  8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2        4 Rue Charles Bossut     3  ...    1     0       0
3           3   3 avenue Claude Vellefaux     4  ...    1     0       0
4           4      236 Boulevard Voltaire     1  ...    1     0       0

[5 rows x 26 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14421829 entries, 0 to 14421828
Data columns (total 26 columns):
Unnamed: 0             int64
Address                object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code            int64
Public name            object
Rental status          object
Scheduled at           object
Slots                  int64
Station type           object
Status                 object
Subscription status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(13), object(13)
memory usage: 2.8+ GB

In [7]:
df.count()

Unnamed: 0             14421829
Address                14421829
Cars                   14421829
Bluecar counter        14421829
Utilib counter         14421829
Utilib 1.4 counter     14421829
Charge Slots           14421829
Charging Status        14421829
City                   14421829
Displayed comment        322219
ID                     14421829
Kind                   14421829
Geo point              14421829
Postal code            14421829
Public name            14421829
Rental status          14421829
Scheduled at             111616
Slots                  14421829
Station type           14421829
Status                 14421829
Subscription status    14421829
year                   14421829
month                  14421829
day                    14421829
hour                   14421829
minute                 14421829
dtype: int64

In [8]:
df.isnull().sum()

Unnamed: 0                    0
Address                       0
Cars                          0
Bluecar counter               0
Utilib counter                0
Utilib 1.4 counter            0
Charge Slots                  0
Charging Status               0
City                          0
Displayed comment      14099610
ID                            0
Kind                          0
Geo point                     0
Postal code                   0
Public name                   0
Rental status                 0
Scheduled at           14310213
Slots                         0
Station type                  0
Status                        0
Subscription status           0
year                          0
month                         0
day                           0
hour                          0
minute                        0
dtype: int64

In [0]:
df.drop(columns=['Unnamed: 0', 'Displayed comment' , 'ID' , 'Scheduled at' , 'Cars' , 'Rental status' , 'Subscription status' , 'month' , 'year'], inplace=True)

In [9]:
df.head(3)

   Unnamed: 0                     Address  Cars  ...  day  hour  minute
0           0              24 Rue Vulpian     3  ...    1     0       0
1           1  8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2        4 Rue Charles Bossut     3  ...    1     0       0

[3 rows x 26 columns]

In [11]:
df.drop_duplicates()

                                            Address  ...  minute
0                                    24 Rue Vulpian  ...       0
1                        8 Boulevard Richard Lenoir  ...       0
2                              4 Rue Charles Bossut  ...       0
3                         3 avenue Claude Vellefaux  ...       0
4                            236 Boulevard Voltaire  ...       0
5                      44 Rue des Pirogues de Bercy  ...       0
6                       63 Boulevard Richard Lenoir  ...       0
7                                 43 Rue de Monceau  ...       0
8                10 Avenue du Docteur Arnold Netter  ...       0
9                    33 Avenue Pierre 1er de Serbie  ...       0
10                         2 Rue Houdart de Lamotte  ...       0
11                238 Rue du Faubourg Saint-Antoine  ...       0
12                               23 Quai aux Fleurs  ...       0
13                            54 Rue David d'Angers  ...       0
14                                46 rue de Turenne  ...       0
15                              142 Rue de Bagnolet  ...       0
16                   91 rue du Faubourg Saint-Denis  ...       0
17                                 336 Rue Lecourbe  ...       0
18                         16 place des Ãtats-Unis  ...       0
19                                     99 Rue Monge  ...       0
20                      45 Avenue de la Bourdonnais  ...       0
21                                    42 Rue du Bac  ...       0
22                           42 avenue de Friedland  ...       0
23                               143 Rue La Fayette  ...       0
24                           182 Boulevard Voltaire  ...       0
25                         2 Rue Fabre d'Ãglantine  ...       0
26                            4 Avenue Jean JaurÃ¨s  ...       0
27                           30 Quai de Dion Bouton  ...       0
28                          183 Rue des Renouillers  ...       0
29                              5 Place du Commerce  ...       0
...                                             ...  ...     ...
14421785                              42 rue Brunel  ...      59
14421786                  61 rue Pierre Brossolette  ...      59
14421787                     30 rue Marcel Bontemps  ...      59
14421788                    77 rue Edouard Vaillant  ...      59
14421789                            1 rue de Sevran  ...      59
14421790                             14 rue Censier  ...      59
14421791                             9 rue Lobineau  ...      59
14421792                            29 rue GalilÃ©e  ...      59
14421793                        1 rue de YÃ©limanÃ©  ...      59
14421794            15 place du GÃ©nÃ©ral de Gaulle  ...      59
14421795                     53 rue du Bois l'AbbÃ©  ...      59
14421796                            18 rue Franklin  ...      59
14421797                 4 Chemin des petits marais  ...      59
14421798                      93 avenue Victor Hugo  ...      59
14421799  106 avenue du Vieux Chemin de Saint-Denis  ...      59
14421800                              4 rue Valiton  ...      59
14421801                          53 Boulevard Foch  ...      59
14421802                               5 rue Vauban  ...      59
14421803                68 rue de la Bonne Aventure  ...      59
14421804            1 avenue du GÃ©nÃ©ral de Gaulle  ...      59
14421805                 4 boulevard Anatole France  ...      59
14421806                  2 avenue Georges Pompidou  ...      59
14421807                         12 avenue Rabelais  ...      59
14421808                    1 rue de la LibÃ©ration  ...      59
14421809                    282 avenue d'Argenteuil  ...      59
14421810              21 rue de l'Ecole de Medecine  ...      59
14421811         6 avenue de la Porte de Champerret  ...      59
14421812                        194 rue de fontenay  ...      59
14421813            102 Boulevard Raymond PoincarÃ©  ...      59
14421814                       8 avenue George Sand  ...      59

[14278939 rows x 17 columns]

In [12]:
df.shape

(14421829, 17)

In [13]:
df.head(5)

                      Address  Bluecar counter  ...  hour  minute
0              24 Rue Vulpian                3  ...     0       0
1  8 Boulevard Richard Lenoir                0  ...     0       0
2        4 Rue Charles Bossut                3  ...     0       0
3   3 avenue Claude Vellefaux                4  ...     0       0
4      236 Boulevard Voltaire                1  ...     0       0

[5 rows x 17 columns]

In [14]:
df.describe()

       Bluecar counter  Utilib counter  ...          hour        minute
count     1.442183e+07    1.442183e+07  ...  1.442183e+07  1.442183e+07
mean      2.364280e+00    6.390992e-02  ...  1.153851e+01  2.947548e+01
std       2.045841e+00    2.576582e-01  ...  6.838499e+00  1.730941e+01
min       0.000000e+00    0.000000e+00  ...  0.000000e+00  0.000000e+00
25%       0.000000e+00    0.000000e+00  ...  6.000000e+00  1.400000e+01
50%       2.000000e+00    0.000000e+00  ...  1.200000e+01  2.900000e+01
75%       4.000000e+00    0.000000e+00  ...  1.700000e+01  4.400000e+01
max       7.000000e+00    4.000000e+00  ...  2.300000e+01  5.900000e+01

[8 rows x 9 columns]

In [0]:
# Changing the case of column names to lower, stripping whitespaces, removing periods and replacing spaces with underscore
#
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_').str.replace('.', '')

In [16]:
df.columns

Index(['address', 'bluecar_counter', 'utilib_counter', 'utilib_14_counter',
       'charge_slots', 'charging_status', 'city', 'kind', 'geo_point',
       'postal_code', 'public_name', 'slots', 'station_type', 'status', 'day',
       'hour', 'minute'],
      dtype='object')

In [17]:
#Outliers
q1 = df.quantile(0.25)
q3 = df.quantile(0.75)

IQR = q3 - q1

((df < q1 - 1.5 * IQR) | (df > q3 + 1.5 * IQR))

          address  bluecar_counter  ...  utilib_14_counter  utilib_counter
0           False            False  ...              False            True
1           False            False  ...              False           False
2           False            False  ...              False           False
3           False            False  ...              False           False
4           False            False  ...              False           False
5           False            False  ...              False           False
6           False            False  ...              False           False
7           False            False  ...              False           False
8           False            False  ...              False           False
9           False            False  ...              False           False
10          False            False  ...              False           False
11          False            False  ...              False           False
12          False            False  ...              False           False
13          False            False  ...               True           False
14          False            False  ...              False           False
15          False            False  ...              False            True
16          False            False  ...               True           False
17          False            False  ...              False           False
18          False            False  ...              False            True
19          False            False  ...              False           False
20          False            False  ...              False           False
21          False            False  ...              False           False
22          False            False  ...              False           False
23          False            False  ...              False           False
24          False            False  ...              False           False
25          False            False  ...              False           False
26          False            False  ...              False           False
27          False            False  ...              False           False
28          False            False  ...              False           False
29          False            False  ...              False           False
...           ...              ...  ...                ...             ...
14421799    False            False  ...              False           False
14421800    False            False  ...              False            True
14421801    False            False  ...               True           False
14421802    False            False  ...               True           False
14421803    False            False  ...              False           False
14421804    False            False  ...              False           False
14421805    False            False  ...              False           False
14421806    False            False  ...              False           False
14421807    False            False  ...              False           False
14421808    False            False  ...               True           False
14421809    False            False  ...              False           False
14421810    False            False  ...              False           False
14421811    False            False  ...              False           False
14421812    False            False  ...              False           False
14421813    False            False  ...              False           False
14421814    False            False  ...              False           False
14421815    False            False  ...              False           False
14421816    False            False  ...              False           False
14421817    False            False  ...              False           False
14421818    False            False  ...              False           False
14421819    False            False  ...              False           False
14421820    False            False  ...              False           False
14421821    False            False  ...              False           False
14421822    False            False  ...              False           False
14421823    False            False  ...              False           False
14421824    False            False  ...              False           False
14421825    False            False  ...              False           False
14421826    False            False  ...              False           False
14421827    False            False  ...              False           False
14421828    False            False  ...              False           False

[14421829 rows x 17 columns]

In [0]:
df = df[ ~ ((df < q1 - 1.5 * IQR) | (df > q3 + 1.5 * IQR)).any(axis = 1)]

In [19]:
df.shape

(9526745, 17)

In [20]:
minimum = df.bluecar_counter.max()
minimum

7

In [21]:
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) 
#in the city of Paris over the month of April 2018


#df[(df.city == 'Paris') & (df.bluecar_counter < 4 )].groupby('hour')['address'].head(1)

df[(df.city == 'Paris') & (df.bluecar_counter < 7)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
19    192995
Name: hour, dtype: int64

In [22]:
#What is the most popular hour for returning cars?
df[df.bluecar_counter != 7].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

hour
19    417737
Name: hour, dtype: int64

In [23]:
#What station is the most popular?
#Overall?

df[(df.kind == 'STATION') & (df.status == 'ok')].groupby('public_name')[['kind']].count().sort_values(by = 'kind', ascending  = False).head(1)

                                  kind
public_name
Le Plessis-Robinson/GalilÃ©e/16  12908

In [24]:
# Identifying the station that is the most popular at the most popular picking hour
df[(df.kind == 'STATION') & (df.hour == 19)  & (df.status == 'ok')].groupby('public_name').count()[['kind']].sort_values(by = 'kind', ascending = False).head(1)

                                   kind
public_name
Paris/Notre-Dame des Victoires/21   554

In [0]:
# Identifying the postal code which is the most popular for picking up Bluecars - overall


newdf = df.groupby(['hour' , 'postal_code' , 'public_name'])[['postal_code']].count().head(1)

In [31]:
newdf

                                         postal_code
hour postal_code public_name
0    75001       Paris/Colonel Driant/7          484

In [36]:
# What postal code is the most popular for picking up Bluecars? 


df[df.bluecar_counter < 7].groupby('postal_code').count()[['bluecar_counter']].sort_values(by = 'bluecar_counter', ascending = False).head(1)

             bluecar_counter
postal_code
75015                 431069

In [37]:
#Does the most popular station belong to that postal code? 
df[(df.bluecar_counter < 7) & (df.hour == 19)].groupby('postal_code').count()[['bluecar_counter']].sort_values(by = 'bluecar_counter', ascending = False).head(1)

             bluecar_counter
postal_code
75015                  19026

In [38]:
# Checking whether the most popular station belongs to the most popular postal code for picking up Bluecars 


df[df.public_name == 'Le Plessis-Robinson/GalilÃ©e/16'][['public_name', 'postal_code']].head(1)

                         public_name  postal_code
752  Le Plessis-Robinson/GalilÃ©e/16        92350

In [39]:

#Does the most popular station belong to that postal code? At the most popular picking hour?


df[(df.public_name == 'Le Plessis-Robinson/GalilÃ©e/16') & (df.hour == 19)][['public_name', 'postal_code']].head(1)

                             public_name  postal_code
1288995  Le Plessis-Robinson/GalilÃ©e/16        92350

In [42]:
#Identify the most popular hour of the day for picking up a shared electric car in 
#the city of Paris over the month of April 2018

df[(df.city == 'Paris') & (df.utilib_counter < 0)].groupby('hour')['hour'].count().sort_values(ascending = False).head(1)

Series([], Name: hour, dtype: int64)